<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도서등록</title>
</head>
<body>
<h2>도서추가</h2>
<div class="container" >
    <form action="/books/new" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
            <br>
            <label for="writer">작가</label>
            <input type="text" id="writer" name="writer" placeholder="작가를 입력하세요">
            <br>
            <label for="price">가격</label>
            <input type="text" id="price" name="price"value="0" placeholder="가격을 입력하세요">
            <br>
            <label for="buydate">구입일자</label>
            <input type="date" id="buydate" name="buydate"placeholder="구입일자를 입력하세요">
        </div>
        <button type="submit">등록</button>
        <button type="reset">초기화</button>
    </form>
</div>
<script>
    document.getElementById('buydate').valueAsDate = new Date();
</script>
</body>
</html>